body {
  font-family: Arial, sans-serif;
  background: #f2f5f7;
}

.container {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 20px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

pre {
  background: #eef6ff;
  padding: 15px;
  margin-top: 20px;
}
